## Named Entity Recognition (NER)

In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [7]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [20]:
doc = nlp("Tesla Inc is going to acquire Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text ," | ", ent.label_," | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  PRODUCT  |  Objects, vehicles, foods, etc. (not services)
$45 billion  |  MONEY  |  Monetary values, including unit

In [21]:
from spacy import displacy
displacy.render(doc ,style = "ent")

## List down all the entities

In [27]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [34]:
doc1 = nlp("Micheal Bloomberg founded Bloomberg Inc in 1982")
for ent in doc.ents:
    print(ent.text ," | ", ent.label_," | ", spacy.explain(ent.label_))

Micheal Bloomberg  |  PERSON  |  People, including fictional
Bloomberg Inc  |  ORG  |  Companies, agencies, institutions, etc.
1982  |  DATE  |  Absolute or relative dates or periods

In [35]:
from spacy import displacy
displacy.render(doc1 ,style = "ent")

In [49]:
doc2 = nlp("Tesla  is going to acquire twitter for $45 billion")

for ent in doc2.ents:
    print(ent.text ," | ", ent.label_," | ", spacy.explain(ent.label_), ent.start_char, " | ", ent.end_char)

$45 billion  |  MONEY  |  Monetary values, including unit 39  |  50

In [44]:
type(doc[2:4])

spacy.tokens.span.Span

## Setting custom entities

In [50]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc2.set_ents([s1, s2], default="unmodified")

In [53]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Micheal Bloomberg  |  PERSON
Bloomberg Inc  |  ORG
1982  |  DATE

## Exercise

Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

In [ ]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc3 = nlp(text)

In [61]:
all_gpe_names = []
for ent in doc3.ents:
    if ent.label_ == 'GPE':
        all_gpe_names.append(ent)
        
print("Geographical location Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]
Count:  8

Excersie: 2 Extract all the birth dates of cricketers in the given Text

In [62]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc4 = nlp(text)

In [67]:
Birth_dates = []
for ent in doc4.ents:
    if ent.label_ == 'DATE':
        Birth_dates.append(ent)
    
print("All Birth Dates: ", Birth_dates)
print("Count: " ,len(Birth_dates))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4